/* .row > div{
    background: #f2f2f200;
    padding: 30px;
    border: 1px solid grey;

  }

  .main-container {
    background-image: url("../../img/fondo.jpg");
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }


  .button-prev {
    
    border-radius: 8px;
    border: 0;
    width: 65px;
    height: 25px;
    background-color: #54407d;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    align-items: center;
  }  

  .button-prev:hover{
    box-shadow: 0 8px 16px 0 #FFCC00;
    
  }
.button-next{
  border-radius: 8px;
    border: 0;
    width: 65px;
    height: 25px;
    background-color: #54407d;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}

.button-next:hover{

  box-shadow: 0 8px 16px 0 #FFCC00;
}

.label-pagina{
  border-radius: 8px;
  border: 0;
  width: 65px;
  height: 25px;
  background-color: #54407d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  align-items: center;

}

.label-pagina:hover{

  box-shadow: 0 8px 16px 0 #FFCC00;

}

.form-pagina{

  text-align: center;
  margin: 10px 950px 10px 80px;
  margin-left: 540px;
  margin-right: 500px;
  border: 1px solid black;
  background-color: #54407d;
  
}

 */






table {
/*   border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table caption {
    font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
  font-weight:700;
  color:#00000090;
  padding: 15px;
}

table tr {
  background-color: #ffffff90;
  border: 1px solid #ddd;
  padding: 10px;
}
.thead{
  background-color: rgb(67 56 202);
  color:#fff;
}

table th,
table td {
  padding: 20px;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  .thead{
  background-color: rgb(67 56 202);
  color:#fff;
}

  table caption {
     font-size: 35px;
  font-weight:700;
  color:#00000090;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.button-prev {
    
  border-radius: 8px;
  border: 0;
  width: 65px;
  height: 25px;
  background-color: #54407d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  align-items: center;
}  



.button-prev:hover{
  box-shadow: 0 8px 16px 0 #FFCC00;
  
}
.button-next{
border-radius: 8px;
  border: 0;
  width: 65px;
  height: 25px;
  background-color: #54407d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  align-items: center;
}

.button-next:hover{

box-shadow: 0 8px 16px 0 #FFCC00;
}


.label-pagina{
  border-radius: 8px;
  border: 0;
  width: 65px;
  height: 25px;
  background-color: #54407d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  align-items: center;

}

.label-pagina:hover{

  box-shadow: 0 8px 16px 0 #FFCC00;

}

.form-pagina{

  text-align: center;
  margin: 10px 950px 10px 80px;
  margin-left: 540px;
  margin-right: 500px;
  border: 1px solid black;
  background-color: #54407d;
  
}